@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.nav-bar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.nav-bar h1 {
  color: #f1356d;
}
.nav-bar .links {
  margin-left: auto;
}
.nav-bar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.nav-bar a:hover {
  color: #f1356d;
}
.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */

.blog-list{
  margin-bottom: 10px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.btn-dlt-blog{
  border: 1px solid #f1356d;
  border-radius: 5px;
  background: #fafafa;
  color:#f1356d;
  font-weight: 600;
  float: right;
  margin-top: -60px;
  width: 22px;
  cursor: pointer;
}
.btn-dlt-blog:hover{
  background:#f1356d;
  color: #fafafa;
  box-shadow: 0px 2px 2px grey;
}
.btn-dlt-blog-disabled {
  border: 1px solid #ea4e7c;
  border-radius: 5px;
  background: #dbbec8;
  color: #ea4e7c;
  font-weight: 600;
  float: right;
  margin-top: -60px;
  width: 22px;
  cursor: not-allowed;
  /* animation: .5s ease-out FadeIn; */
}
.error{
  color: red;
  border-left: 5px solid red;
  padding-left: 5px;
  animation: .6s ease-out FadeIn;
}
.success{
  color: rgb(61, 180, 77);
  border-left: 5px solid rgb(61, 180, 77);
  padding-left: 5px;
  animation: .5s ease-out FadeIn;
}

@keyframes FadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.hide {
  opacity: 0;
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
}
.show {
  opacity: 1;
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
}

.blog-preview a {
  text-decoration: none;
}

/* blog details page */

.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
  text-align: justify;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.blog-details button.btn-dlt-blog-disabled {
  background: #dbbec8;
  color: #ea4e7c;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  /* animation: .5s ease-out FadeIn; */
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create textarea {
  resize: vertical;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.not-found{
  text-align: center;
  font-size: 1.1em;
  padding: 5%;
  margin: 0 auto;
}

.not-found a{
  text-decoration: none;
  color:#f1356d;
  font-weight: 600;
  padding: 5px;
}